<h1 style="text-align:center;font-family: 'Computer Modern Sans';font-weight:bolder">Proyecto Electivo Inteligencia Artificial</h1>
<h5 style="text-align:center;font-family: 'Computer Modern Sans';font-weight:bolder">Bayron Alex Parada Reyes</h5>

## **Análisis de cantidad de pacientes uci por región con regresores extra**

### Descripción del Problema



### Información del conjunto de datos

In [76]:
#Importamos las librerías
import pandas as pd
import numpy as np

#Librerías visualizacion
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
df=pd.read_csv("Uci.csv")
print(f"Dataframe Shape {df.shape}") 
df

Dataframe Shape (16, 638)

,Region,Codigo region,Poblacion,2020-04-01,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,...,2021-12-17,2021-12-18,2021-12-19,2021-12-20,2021-12-21,2021-12-22,2021-12-23,2021-12-24,2021-12-25,2021-12-26
0,Arica y Parinacota,15,252110,0,0,0,0,2,4,4,...,1,1,1,1,1,1,1,1,1,1
1,Tarapacá,1,382773,1,1,1,1,1,2,2,...,10,10,9,9,8,8,8,8,7,6
2,Antofagasta,2,691854,3,4,3,3,3,3,2,...,16,17,17,19,17,18,19,18,18,14
3,Atacama,3,314709,0,0,0,0,0,0,0,...,3,3,3,2,3,3,3,3,3,4
4,Coquimbo,4,836096,1,1,1,2,1,1,2,...,17,15,15,15,16,16,16,14,15,15
5,Valparaíso,5,1960170,14,17,18,22,27,22,21,...,57,55,55,55,52,49,48,44,42,39
6,Metropolitana,13,8125072,83,90,107,129,146,161,160,...,316,315,311,309,307,285,286,268,266,260
7,O’Higgins,6,991063,5,5,5,5,5,6,6,...,19,18,19,18,18,17,16,15,16,15
8,Maule,7,1131939,3,3,3,3,4,5,7,...,17,16,15,15,13,14,15,12,12,12
9,Ñuble,16,511551,7,8,10,11,10,11,13,...,11,10,9,9,8,8,9,9,8,8
10,Biobío,8,1663696,14,18,21,24,26,27,32,...,85,87,83,78,77,78,77,76,78,79
11,Araucanía,9,1014343,26,29,37,44,44,46,46,...,21,23,24,24,23,22,19,19,18,21
12,Los Ríos,14,405835,1,2,2,2,3,4,6,...,7,7,6,5,7,7,7,7,9,10
13,Los Lagos,10,891440,10,12,18,22,22,23,24,...,43,42,45,46,45,45,43,45,47,51
14,Aysén,11,107297,0,0,0,0,0,0,0,...,8,7,7,8,6,8,7,7,7,7
15,Magallanes,12,178362,5,10,11,12,13,12,12,...,6,6,7,7,7,8,7,9,8,10

La idea será lograr trabajar la data con los casos totales y por lo tanto se le tradrá que preguntar al usuario con cuantos días quiere de dato quiere trabajar

In [78]:
df = df.drop(columns='Codigo region')

In [79]:
df['Casos totales UCI'] = df['2021-12-26']
df

,Region,Poblacion,2020-04-01,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,...,2021-12-18,2021-12-19,2021-12-20,2021-12-21,2021-12-22,2021-12-23,2021-12-24,2021-12-25,2021-12-26,Casos totales UCI
0,Arica y Parinacota,252110,0,0,0,0,2,4,4,5,...,1,1,1,1,1,1,1,1,1,1
1,Tarapacá,382773,1,1,1,1,1,2,2,2,...,10,9,9,8,8,8,8,7,6,6
2,Antofagasta,691854,3,4,3,3,3,3,2,2,...,17,17,19,17,18,19,18,18,14,14
3,Atacama,314709,0,0,0,0,0,0,0,1,...,3,3,2,3,3,3,3,3,4,4
4,Coquimbo,836096,1,1,1,2,1,1,2,1,...,15,15,15,16,16,16,14,15,15,15
5,Valparaíso,1960170,14,17,18,22,27,22,21,20,...,55,55,55,52,49,48,44,42,39,39
6,Metropolitana,8125072,83,90,107,129,146,161,160,174,...,315,311,309,307,285,286,268,266,260,260
7,O’Higgins,991063,5,5,5,5,5,6,6,6,...,18,19,18,18,17,16,15,16,15,15
8,Maule,1131939,3,3,3,3,4,5,7,8,...,16,15,15,13,14,15,12,12,12,12
9,Ñuble,511551,7,8,10,11,10,11,13,13,...,10,9,9,8,8,9,9,8,8,8
10,Biobío,1663696,14,18,21,24,26,27,32,31,...,87,83,78,77,78,77,76,78,79,79
11,Araucanía,1014343,26,29,37,44,44,46,46,54,...,23,24,24,23,22,19,19,18,21,21
12,Los Ríos,405835,1,2,2,2,3,4,6,6,...,7,6,5,7,7,7,7,9,10,10
13,Los Lagos,891440,10,12,18,22,22,23,24,25,...,42,45,46,45,45,43,45,47,51,51
14,Aysén,107297,0,0,0,0,0,0,0,0,...,7,7,8,6,8,7,7,7,7,7
15,Magallanes,178362,5,10,11,12,13,12,12,14,...,6,7,7,7,8,7,9,8,10,10

In [80]:
df = df.drop(df.columns[2:637], axis='columns')
df

                Region  Poblacion  Casos totales UCI
0   Arica y Parinacota     252110                  1
1             Tarapacá     382773                  6
2          Antofagasta     691854                 14
3              Atacama     314709                  4
4             Coquimbo     836096                 15
5           Valparaíso    1960170                 39
6        Metropolitana    8125072                260
7            O’Higgins     991063                 15
8                Maule    1131939                 12
9                Ñuble     511551                  8
10              Biobío    1663696                 79
11           Araucanía    1014343                 21
12            Los Ríos     405835                 10
13           Los Lagos     891440                 51
14               Aysén     107297                  7
15          Magallanes     178362                 10

In [81]:
df.describe()

          Poblacion  Casos totales UCI
count  1.600000e+01          16.000000
mean   1.216144e+06          34.500000
std    1.914966e+06          63.516927
min    1.072970e+05           1.000000
25%    3.657570e+05           7.750000
50%    7.639750e+05          13.000000
75%    1.043742e+06          25.500000
max    8.125072e+06         260.000000

In [89]:
df1=pd.read_csv("CasosTotalesCumulativo.csv")
df1['Casos totales Contagiados'] = df1['2021-12-26']
df1 = df1.drop(df1.columns[1:665], axis='columns')
df1

                Region  Casos totales Contagiados
0   Arica y Parinacota                      29062
1             Tarapacá                      44765
2          Antofagasta                      66714
3              Atacama                      30702
4             Coquimbo                      54641
5           Valparaíso                     137614
6        Metropolitana                     751245
7            O’Higgins                      73085
8                Maule                     109536
9                Ñuble                      39377
10              Biobío                     166902
11           Araucanía                     103728
12            Los Ríos                      53546
13           Los Lagos                      98967
14               Aysén                      10264
15          Magallanes                      30086
16               Total                    1800280

#####

In [90]:
df['Casos totales Contagiados'] = df1['Casos totales Contagiados']
df

,Region,Poblacion,Casos totales UCI,Casos totales Contagiados
0,Arica y Parinacota,252110,1,29062
1,Tarapacá,382773,6,44765
2,Antofagasta,691854,14,66714
3,Atacama,314709,4,30702
4,Coquimbo,836096,15,54641
5,Valparaíso,1960170,39,137614
6,Metropolitana,8125072,260,751245
7,O’Higgins,991063,15,73085
8,Maule,1131939,12,109536
9,Ñuble,511551,8,39377
10,Biobío,1663696,79,166902
11,Araucanía,1014343,21,103728
12,Los Ríos,405835,10,53546
13,Los Lagos,891440,51,98967
14,Aysén,107297,7,10264
15,Magallanes,178362,10,30086

In [91]:
df3=pd.read_csv("vacunacion.csv")
df3

,Region,Dosis,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31,...,2021-12-13,2021-12-14,2021-12-15,2021-12-16,2021-12-17,2021-12-18,2021-12-19,2021-12-20,2021-12-21,2021-12-22
0,Total,Primera,420.0,5202.0,8345.0,8654.0,8654.0,8654.0,8654.0,8654.0,...,16476862.0,16507478.0,16534641.0,16559647.0,16581081.0,16583888.0,16584116.0,16604297.0,16622141.0,16631375.0
1,Total,Segunda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15768678.0,15789568.0,15808670.0,15825344.0,15839825.0,15841622.0,15841768.0,15856751.0,15871010.0,15879060.0
2,Total,Unica,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,573409.0,573457.0,573516.0,573546.0,573564.0,573567.0,573570.0,573591.0,573604.0,573611.0
3,Total,Refuerzo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9576553.0,9686101.0,9785214.0,9873979.0,9953572.0,9970323.0,9972483.0,10063769.0,10150434.0,10200189.0
4,Aysén,Primera,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,88930.0,89074.0,89197.0,89307.0,89448.0,89481.0,89489.0,89573.0,89658.0,89694.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Maule,Refuerzo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,591377.0,597212.0,602415.0,607151.0,611754.0,612114.0,612462.0,617514.0,622256.0,624568.0
64,Metropolitana,Primera,420.0,2938.0,5425.0,5719.0,5719.0,5719.0,5719.0,5719.0,...,6506506.0,6518936.0,6530067.0,6540592.0,6549395.0,6550792.0,6550807.0,6558639.0,6565415.0,6569112.0
65,Metropolitana,Segunda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6224113.0,6231680.0,6238831.0,6244991.0,6250167.0,6250993.0,6251007.0,6256257.0,6261255.0,6264285.0
66,Metropolitana,Unica,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,225461.0,225491.0,225528.0,225528.0,225528.0,225528.0,225528.0,225536.0,225536.0,225537.0
67,Metropolitana,Refuerzo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3929786.0,3971625.0,4009049.0,4043233.0,4073143.0,4081361.0,4081491.0,4115633.0,4147858.0,4167514.0